# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
env/
.venv/

#data
/data


# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.local


# Static files (if not needed in the repo)
/static/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Local development files
*.local